//GOCLOUD COLOR COMPONENT
$primary: #8a55e9;
$secondary: #1244be;
$accent: #f50f78;
$error: #cb1a35;
$success: #00c5c8;
$black: #69708d;
$white: #ffffff;
$border: #d6dbf5;
$ultrablack: #151824;
$gocloud: #009ada;
$border-darker: #b7bfe5;
$border-violet: #f5efff;
$alert: #ffa100;

//BRANDS
$fb: #3b5998;
$ws: #128c7e;
$is: #c13584;

//BREAKPOINTS
$xs: "(max-width: 340px)";
$sm: "(max-width: 767px)";
$md: "(max-width: 991px)";
$lg: "(max-width: 1199px)";
$xl: "(min-width: 1600px)";
$xs-abs: "(min-width: 0px) and (max-width: 339px)";
$sm-abs: "(min-width: 340px) and (max-width: 767px)";
$md-abs: "(min-width: 768px) and (max-width: 991px)";
$lg-abs: "(min-width: 992px) and (max-width: 1199px)";

